{% extends 'home.html' %} 
{% block content %}
<div class="container">

   <div class="col-md-8 offset-md-2">

    {% if query %}
    <br>
    <h4>For the term "<a>{{query}}</a>". </h4>

           <h2>
          
           {% with results.count as total_results %}

           Found {{ total_results }} result{{ total_results|pluralize }}

           {% endwith %}

           </h2>

            {% for c in results %}

            <a href="/cms/{{course}}/{{ c.slug }}/"><h3>{{c.slug}}</h3></a>

            <h3>{{c.title}}</h3>
            <!-- <p>{{c.body | truncatechars:200 | safe }}</p> -->
            <hr>

            {% empty %}

            <h3>No results found.</h3>

            {% endfor %}
   {% endif %}



    </div>

</div>
{% endblock %}